<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Donate</title>
    <link rel="stylesheet" href="chat.component.css">
</head>

<body>
    <header class="header">
        <h1>Donate</h1>
    </header>

    <main class="chat-container">
        <div class="chat-box">
            <div class="chat">
                <div class="message received">
                    <p>Olá! Como posso ajudar?</p>
                </div>
                <div class="message sent">
                    <p>Oi! Gostaria de saber mais sobre os requisitos para doação.</p>
                </div>
                <div class="message received">
                    <p>Claro! Para doar sangue, é necessário...</p>
                </div>

            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite sua mensagem..." class="message-input">
                <button class="send-button">Enviar</button>
            </div>


            <button>
                <a href="home">Retornar</a>
            </button>
        </div>


    </main>

    <footer class="footer">
        <p>&copy; 2024 Donate. Todos os direitos reservados.</p>
    </footer>
</body>