
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Doações Disponíveis - Donate</title>
    <link rel="stylesheet" href="donation.component.css">
</head>
<body>
    <header class="header">
        <h1>Donate</h1>
    </header>

    <main class="container">
        <section class="table-section">
            <h2>Doadores</h2>
            <table class="doadores-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo Sanguíneo</th>
                        <th>Fator Rh</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maria</td>
                        <td>A</td>
                        <td>+</td>
                        <td>Disponível para doação de sangue tipo A+.</td>
                    </tr>
                    <tr>
                        <td>João</td>
                        <td>O</td>
                        <td>-</td>
                        <td>Precisando de doação de sangue tipo O-.</td>
                    </tr>
                   
                </tbody>
            </table>
        </section>

        <section class="table-section">
            <h2>Receptores</h2>
            <table class="receptores-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo Sanguíneo</th>
                        <th>Fator Rh</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Carlos</td>
                        <td>B</td>
                        <td>+</td>
                        <td>Precisando de doação de sangue tipo B+.</td>
                    </tr>
                    <tr>
                        <td>Ana</td>
                        <td>AB</td>
                        <td>-</td>
                        <td>Procurando doadores de sangue tipo AB-.</td>
                    </tr>
                    
                </tbody>
            </table>

        </section>
    </main>
    
    <div>
        <button>
           <a href="home">Retornar</a> 
        </button>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Donate. Todos os direitos reservados.</p>
    </footer>
</body>

