
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate - Início</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header class="header">
        <h1>Donate</h1>
    </header>


    <main class="main-content">
        <section class="intro">
            <h2>Bem-vindo ao Donate</h2>
            <p>Nosso objetivo é facilitar a doação de sangue e conectar doadores a quem precisa.</p>
        </section>

        <section class="features">
            <div class="feature">
                <h3>Iniciar Chat</h3><div class="button">
                    
                </div>
                <p>Converse com doadores e receptores.</p>
                <div>
                    <button>
                       <a href="chat">Iniciar Chat</a> 
                    </button>
            </div>
                <!-- <button>Iniciar Chat</button> -->
            </div>
            <div class="feature">
                <h3>Criar Anúncio de Doação</h3>
                <p>Crie um anúncio para doação de sangue.</p>
                <!-- <button onclick="">Criar Anúncio</button> -->
                <div>
                    <button>
                       <a href="ads">Criar Anúncio</a> 
                    </button>
            </div>
            </div>
            <div class="feature">
                <h3>Verificar Anúncios Disponíveis</h3>
                <p>Veja todos os anúncios de doação disponíveis.</p>
                <!-- <button >Ver Anúncios</button> -->
                <div>
                    <button>
                       <a href="donation">Verificar Anúncios</a> 
                    </button>
            </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="button">
            <a href="account/sign-in">Retorne para Sign-in</a>
        </div>
        <p >&copy; 2024 Donate. Todos os direitos reservados.</p>
    </footer>

    <script src="scripts.js"></script>
</body>

